{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <div class="container text-center">

    <h1>WELCOME</h1>
    <h3>ADDING A NEW USER</h3>

    <a href="{% url 'myApp:users-inventory' %}"><button type="submit" id="submitBtn" class="btn btn-primary">BACK</button></a>

  </div>
</div>

  <div class="Container container-sm">

      <form method="post">
          {{ form.as_ul }}
          {% csrf_token %}
          <input type="submit" class="btn btn-primary" value="SUBMIT">
          <input type="reset" class="btn btn-primary" value="RESET">
      </form>

  </div>

{% endblock %}