{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <div class="container">

    <h1>WELCOME</h1>
    <h3>--- HOME PAGE ---</h3>

  </div>
</div>

  <div class="Container text-center">

    <p>Please select the desired action from options given below:</p>
    <a href="{% url 'myApp:users-inventory' %}"><button type="submit" id="userBtn" class="btn btn-primary">USERS INVENTORY</button></a><p></p>
    <button type="submit" id="etcBtn" class="btn btn-primary">ETC INVENTORY...</button>

  </div>

{% endblock %}