{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <div class="container">

    <h1>WELCOME</h1>
    <h3>USERS INVENTORY PAGE</h3>

  </div>

  <div class="Container container-sm text-center">

    <a href="{% url 'myApp:add-user' %}"><button type="submit" id="cancelBtn" class="btn btn-primary">Add</button></a>
    <a href="{% url 'myApp:index' %}"><button type="submit" id="submitBtn" class="btn btn-primary">BACK</button></a>

  </div>
</div>

  <div class="Container container-sm text-center">
    <div class="table-responsive-sm">

      {% if user_dict %}
      <table class="table table-sm table-bordered">

        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th style="width:60%" >NAME/USERS</th>
            <th>ACTION</th>
          </tr>
        </thead>

        <tbody>

        {% for eachUser in user_dict %}

          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ eachUser.first_name }} {{ eachUser.second_name }}</td>
            <td>
              <a href="{% url 'myApp:user-detail' eachUser.pk %}"><button type="submit" id="viewBtn" class="btn btn-primary mr-2">View</button></a>
              <a href="{% url 'myApp:edit-user-detail' eachUser.pk %}"><button type="submit" id="editBtn" class="btn btn-primary btn-dark mr-2">Edit</button></a>
              <a href="{% url 'myApp:delete-user' eachUser.pk %}"><button type="submit" id="deleteBtn" class="btn btn-primary btn-danger">Delete</button></a>
            </td>
          </tr>

        {% endfor %}

        </tbody>

      </table>
      {% else %}
        <p>No User records found...</p>
      {% endif %}

    </div>
  </div>

<{% endblock %}